


{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Administrator	</title>
    <!-- Bootstrap Styles-->
    <link href="{% static 'second/assets/css/bootstrap.css'%}" rel="stylesheet" />
    <!-- FontAwe{% static second/some Styles-->
    <link href="{% static 'second/assets/css/font-awesome.css'%}" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="{% static 'second/assets/js/morris/morris-0.4.3.min.css'%}" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="{% static 'second/assets/css/custom-styles.css'%}" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
  

</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href=" "> </a>
            </div>

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="  ."><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href=" "><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="{% url 'logout' %} "><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </nav>
        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <li>
                        <a href=""><i class="fa fa-user fa-fw"></i>Hello, {{ request.user }}</a>
                      </li>

                    <li>
                        <a class="active-menu"  href="{% url 'admindashboard' %}"><i class="fa fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href=" "><i class="fa fa-desktop"></i> News Letters</a>
                    </li>
					<li>
                        <a href="{% url 'roombooking' %}"><i class="fa fa-bar-chart-o"></i> Room Booking</a>
                    </li>
                    
                   
                    <li>
                        <a href="{% url 'reservation' %}"><i class="fa fa-qrcode"></i> Reservation</a>
                      </li>
                      <li>
                        <a href="{% url 'new' %}"><i class="fa fa-qrcode"></i> Book Room</a>
                    </li>
            
                    <li>
                        <a href="{% url 'logout' %} "><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                   


                    
					</ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">


                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            <small>Rooms </small>
                        </h1>
                    </div>
                </div>
                <!-- /. ROW  -->
				

					<div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            
                        </div>
                        <div class="panel-body">
                            <div class="panel-group" id="accordion">
							
							<div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
											<button class="btn btn-default" type="button">
												  Rooms  <span class="badge"> </span>
											</button>
											</a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse in" style="height: auto;">
                                        <div class="panel-body">
                                           <div class="panel panel-default">
                        
                        
                             <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
              
                                    <thead>
                                        <tr>
                                            <th>Room ID</th>
                                            <th>Category</th>
                                            <th>Room Number </th>
                                            <th>Description</th>
                                            <th>Reference code</th>
                                            <th>Price</th>
					                       <th>Status</th>
                                           <th>Edit</th>
                                            <th>Delete</th>

					    				
											
											
											
                                        </tr>
                                       </thead>
                                         <tbody>
                                            {% for rent in rooms %}
                                          <tr>
                                            <td>{{rent.room_id}}</td>
                                            <td>{{rent.room_number}}</td>
                                            <td>{{rent.room_category}}</td>
                                            <td>{{rent.description}}</td>
					                        <td>{{rent.reference_code}}</td>
                                            <td>{{rent.price}}</td>
                                            <td>{{rent.status}}</td>
                                            <td><a class='btn btn-primary' href="{% url 'admin-room-edit' rent.id %}">Edit</a></td>
                                            <td><a class='btn btn-danger' href="{% url 'admin-room-delete' rent.id %}">Delete</td>
					     
											
											
                                        </tr>
                                        {% endfor %}
                                    
                                    <tbody>
                                
                                        
								
                                
									
                                     
								           </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
			
				<!-- DEOMO-->
				<div class='panel-body'>
                           <a class='btn btn-primary'  href="{% url 'Add_room' %}">Add Room</a>
                        
                           
                
                               
										    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
				
				<!--DEMO END-->
				
										
                    

                <!-- /. ROW  -->
				
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="{% static 'second/assets/js/jquery-1.10.2.js' %}"></script>
    <!-- Bootstrap Js -->
    <script src="{% static 'second/assets/js/bootstrap.min.js' %}"></script>
    <!-- Metis Menu Js -->
    <script src="{% static 'second/assets/js/jquery.metisMenu.js' %}"></script>
    <!-- Morris Chart Js -->
    <script src="{% static 'second/assets/js/morris/raphael-2.1.0.min.js' %}"></script>
    <script src="{% static 'second/assets/js/morris/morris.js' %}"></script>
    <!-- Custom Js -->
    <script src="{% static 'second/assets/js/custom-scripts.js' %}"></script>


</body>

</html>

